  body {
    background-color: rgba(135, 207, 235, 0.397);
  }

  .back {
    border: 2px solid black;
    height: 70px;
    background-color: black;
    display: flex;

  }

  /* .amimg {
      width: 150px;
  } */
  .amimg2 {
    width: 150px;
    margin: 0%;
    display: block;
  }

  p {
    color: white;
    display: block;
    margin: 0px;



  }

  .text {
    margin: 10px;


  }

  h5 {
    color: rgba(255, 255, 255, 0.514);
    display: block;
    margin: 0px;
    justify-content: center;

  }

  .all {
    padding: 10px 0px;
    text-align: center;
    justify-content: center;
    background-color: black;

  }

  .Search {
    width: 560px;
    height: 45px;
    margin: 0px;
  }

  .box {
    width: 50px;
    height: 45px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 2px;
    border: 1px solid black;
    background-color: white;
    text-align: center;

  }

  h6 {
    color: black;
    text-align: start;
    padding: 10px 2px;

  }

  .sign {
    color: white;
    margin: 10px;
    margin-left: 30px;
    text-align: start;
  }

  .sige1 {
    display: block;
    margin: 0%;
    color: white;
  }

  .sige2 {
    display: block;
    margin: auto;
    color: white;
  }

  .icone {
    width: 20px;
    color: black;
    text-align: center;
    margin: 10px;

  }

  .box2 {
    width: 50px;
    height: 45px;
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid black;
    background-color: rgb(255, 255, 0);
    text-align: center;
    display: block;
  }

  /* this is a main2 contants */
  .main2 {
    border: 2px solid rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0.452);
    height: 50px;
  }

  a {
    text-decoration: none;
    list-style: none;
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
  }

  li {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    /* text-align: center; */
    /* justify-content: center; */
    margin-top: 10px;
    font-size: large;
  }

  ul {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 0%;
  }

  /* main image banner */
  .main-img1 {
    width: 1400px;
    height: 400px;
  }

  .box-main {
    box-shadow: 20px;
    width: 400px;
    padding: 10px 10px;
    background-color: white;

  }

  .a {
    color: blue;
    font-size: larger;
  }

  h2 {
    display: block;

  }

  .main {
    display: flex;
    justify-content: space-evenly;
    /* margin-top:  0%; */

  }

  .box0 {
    width: 380px;
  }

  .box-main1 {
    box-shadow: 20px;
    width: 400px;
    padding: 10px 10px;
    background-color: white;

  }

  .main8 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

  }

    .main10 {
      display: flex;
      justify-content: space-evenly;
      margin-top: 20px;
    }  
    .main11 {
      display: flex;
      justify-content: space-evenly;
      margin-top: 20px;
    }  

  .img {
    width: 370px;
  }

  /* this is a footer css */
  .ft {
    border: 2px solid rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0.452);
    height: 50px;
  }

  .top {
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    color: white;
  }

  /* footer 2 css code */
  .ft2 {
    border: 2px solid rgba(255, 255, 255, 0);
    background-color: #1f1cc59a;
    height: 250px;
    display: flex;

  }

  .fotn2 {
    font-size: large;
  }

  .wrap {
    text-align: start;
    margin-left: 100px;
  }

  .font {
    font-size: large;
  }

 