* {
    margin: 0%;
    padding: 0%;
}

/* this is a navbar code */
.nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.164);
    margin: 0%;
    padding: 0%;
    /* display: block; */
    /* justify-content: flex-end; */
}

li {
    text-decoration: none;
    list-style: none;
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
}



/* this is a div img 1 code */
.img-sige {
    display: flex;
    justify-content: space-evenly;
}

.img1 {
    background-image: url("box1_image.jpg");
    width: 200px;
    padding: 200px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.img2 {
    background-image: url("box2_image.jpg");
    width: 200px;
    padding: 200px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.img3 {
    background-image: url("box3_image.jpg");
    width: 200px;
    padding: 200px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.img4 {
    background-image: url("box4_image.jpg");
    width: 200px;
    padding: 200px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}


/* this is a div img 2 code */
.img-sige2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.img5 {
    background-image: url("box5_image.jpg");
    width: 200px;
    padding: 200px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.img6 {
    background-image: url("box6_image.jpg");
    width: 200px;
    padding: 200px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.img7 {
    background-image: url("box7_image.jpg");
    width: 200px;
    padding: 200px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.img7 {
    background-image: url("box7_image.jpg");
    width: 200px;
    padding: 200px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

/* this ia a footer */
.img-sige3 {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.685);
    /* padding: 10px 30px; */



}

h1 {
    text-align: center;
    justify-content: center
}

/* now this is a rosponsive degine code */

@media screen and (max-width: 1071px) {
    .nav {
        flex-direction: column;
        text-align: center;
    }

    li {
        text-align: center;
    }

    .img-sige {
        flex-direction: column;

    }

    .img-sige2 {
        flex-direction: column;


    }

    .img1 {

       
        width: 100%;
        margin: auto;
        margin-top: 10px;
        background-size: cover;
    
    }

    .img2 {

        width: 100%;
        margin: auto;
        margin-top: 10px;
        background-size: cover;
    }

    .img3 {


        width: 100%;
        margin: auto;
        margin-top: 10px;
        background-size: cover;
    }

    .img4 {
        width: 100%;
        margin: auto;
        margin-top: 10px;
        background-size: cover;
    }

    .img5 {


        width: 100%;
        margin: auto;
        margin-top: 10px;
        background-size: cover;
    }

    .img6 {

        
        width: 100%;
        margin: auto;
        margin-top: 10px;
        background-size: cover;
    }

    .img7 {

    
        width: 100%;
        margin: auto;
        margin-top: 10px;
        background-size: cover;
    }

    .img7 {

        width: 100%;
        margin: auto;
        margin-top: 10px;
        background-size: cover;
    }

    .img-sige {
        width: 100%;
        margin: auto;
    }

}